* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4b2a5b;
}

.container {
  width: 800px;
  height: 500px;
}

#canvas1 {
  width: 900px;
  height: 600px;
  background: url("../pages/components/games/Waterly/assets/img/ocean.jpg");
}
